<div>
  <h1>Details</h1>

  Make: {{ displayData.make }} <br />
  Model: {{ displayData.model }} <br />
  Doors: {{ displayData.doors }} <br />
  Type: {{ displayData.type }} <br />
  Price: {{ displayData.price }} <br />

  <button [routerLink]="['/buy', id]" [state]="{ data: displayData }">
    BUY
  </button>

  <h2>Comments</h2>

  <div>
    <input type="text" placeholder="Your name" [(ngModel)]="author" />
    <input
      type="text"
      placeholder="Type your comment here"
      [(ngModel)]="commentText"
    />
    <button (click)="addComment()">COMMENT</button>
  </div>

  <div *ngFor="let el of comments">
    From: {{ el.author }} <br />
    {{ el.content }}

    <button (click)="deleteComment(el)">DELETE</button>
    <hr
      [style.display]="el == comments[comments.length - 1] ? 'none' : 'block'"
    />
  </div>
</div>
